.sentenceOrdering {
  resize: both;
  position: relative;
  
  &__widget {
      position: relative;
      transform-origin: 0% 0%;
  }

  &__prefix-container{
    display: flex;
    position: relative;
    cursor: auto;
    margin: 0px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__prefix-item{
    color: @font-color;
    background-color: @item-color-inverted;
    font-weight: @font-weight-bold;
    padding:(@item-padding * 0.75);
    margin: 0px;
      .dir-rtl & {
        text-align: right;
    }
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  &__container-inner{
    display: flex;

    ul {
      list-style: none;
    }

    &.is-vertical {
      flex-direction: row;

      .sentenceOrdering__item-container, .sentenceOrdering__prefix-container {
        flex-direction: column;

        &:not(:last-child) {
          margin-right: @item-margin;
        }

        li:not(:last-child) {
          margin-bottom: @item-margin;
        }
      }
    }

    &.is-horizontal {
      flex-direction: column;

      .sentenceOrdering__item-container, .sentenceOrdering__prefix-container {
        flex-direction: row;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: @item-margin;
        }

        li:not(:last-child) {
          margin-right: @item-margin;
        }
      }
    }

   .no-touch &:hover {
    li {
     cursor: pointer;
    }
   }
  }

  &__item-container{
    display: flex;
    flex-grow: 1;
    position: relative;
    margin: 0px;
    padding: 0px;

    li{
      position: relative;
      color: @font-color-inverted;
      background-color: @item-color;
      padding:(@item-padding * 0.75);
      margin: 0px;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;

      &.has-graphic {
        padding:0px;

        span {
          padding: (@item-padding * 0.75);
          display: block;
        }
      }

      &.hidden-text {
        background-color: transparent;

        span {
          display: none;
        }
      }

      

      &.sortable-ghost {
        opacity: 0.4;
      }
    }
    
    .is-incorrect-resettable{
    cursor: auto !important;
    }

  }
  
  &__item-state{
    background:none;
    position:absolute;
    right:10px;
    width:@icon-size;
    height:@icon-size;
    top:50%;
    margin-top:-(@icon-size/2);
    z-index:0;
  }

  .component__widget{
    &.show-user-answer {
      .incorrect {
        .sentenceOrdering__item-incorrect-icon{
          display:block;
        }
      }

      .correct {
        .sentenceOrdering__item-correct-icon {
          display:block;
        }
      }
    }

    &.show-correct-answer {
      .sentenceOrdering__item-icon{
        display:none;
      }
      .sentenceOrdering__item-correct-icon {
        display:block;
      }
    }

    &.disabled {
      .sentence__container {
        .no-touch &:hover {
          li {
             cursor: default;
           }
        }
      }
    }
  }

  &__item-icon{
    display:none;
  }

  &__item-correct-icon {
    /*color:@validation-success;*/
    display:none;
  }

  &__item-incorrect-icon {
    /*color:@validation-error;*/
    display:none;
  }

  // --------------------------------------------------
  // Item Icons
  // --------------------------------------------------

  &__item-icon {
    display: none;
  }

  &__item-correct-icon .icon {
    .icon-tick;
  }

  &__item-incorrect-icon .icon {
    .icon-cross;
  }

  
  // --------------------------------------------------
  // Class to show the users answers
  // --------------------------------------------------
  &__widget.show-user-answer {
    .is-correct .sentenceOrdering__item-correct-icon,
    .is-incorrect .sentenceOrdering__item-incorrect-icon {
      display: block;
    }
  }

  &__widget.show-user-answer {
    .sentenceOrdering__item:not(.is-correct):not(.is-incorrect) .sentenceOrdering__item-answer-icon {
      display: block;
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Class to show the correct answers
  // --------------------------------------------------
  &__widget.show-correct-answer {
    .is-correct .sentenceOrdering__item-correct-icon,
    .is-incorrect .sentenceOrdering__item-correct-icon {
      display: block;
    }
  }

  &__widget.show-correct-answer {
    .sentenceOrdering__item:not(.is-correct):not(.is-incorrect) .sentenceOrdering__item-answer-icon {
      display: block;
    }
  }

}
